<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="~/Content/themes/brave/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="~/Content/themes/brave/css/font-awesome.min.css" rel="stylesheet">
    <!-- Magnific Popup -->
    <link href="~/Content/themes/brave/css/magnific-popup.css" rel="stylesheet">
    <!-- Owl carousel -->
    <link href="~/Content/themes/brave/css/owl.carousel.css" rel="stylesheet">

    <!-- CSS for this page -->
    <style>
        .header-2 .navy ul li a {
            line-height: 68px !important;
        }

        .header-2 .navy ul li ul li a {
            line-height: 28px !important;
        }

        .header-2 .navy > ul > li:hover > ul {
            top: 70px !important;
        }

        .header-2 .head-search {
            top: 39px !important;
        }
    </style>
    <!-- Base style -->
    <link href="~/Content/themes/brave/css/styles/style.css" rel="stylesheet">
    <!-- Skin CSS -->
    <link href="~/Content/themes/brave/css/styles/skin-lblue.css" rel="stylesheet" id="color_theme">
    <!-- Amaran CSS -->
    <link href="~/Content/Amaran/css/amaran.min.css" rel="stylesheet" />
    <!-- Custom CSS. Type your CSS code in custom.css file -->
    <link href="~/Content/themes/brave/css/custom.css" rel="stylesheet">

    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="~/Content/themes/brave/js/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/themes/brave/js/bootstrap.min.js"></script>
    <!-- Placeholders JS -->
    <script src="~/Content/themes/brave/js/placeholders.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Content/themes/brave/js/jquery.magnific-popup.min.js"></script>
    <!-- Owl carousel -->
    <script src="~/Content/themes/brave/js/owl.carousel.min.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="~/Content/themes/brave/js/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="~/Content/themes/brave/js/html5shiv.js"></script>
    <!-- Main JS -->
    <script src="~/Content/themes/brave/js/main.js"></script>
    <!-- Amaran JS -->
    <script src="~/Content/Amaran/js/jquery.amaran.js"></script>
</head>

<!-- Add class "boxed" along with body for boxed layout. -->
<!-- Add "pattern-x" (1 to 5) for background patterns. -->
<!-- Add "img-x" (1 to 5) for background images. -->
<body class="boxed pattern-5">

    <!-- Outer Starts -->
    <div class="outer">

        <!-- Top bar starts -->
        <div class="top-bar">
            <div class="container">

                <!-- Contact starts -->
                <div class="tb-contact pull-left">
                    @*<!-- Email -->
                        <i class="fa fa-envelope color"></i> &nbsp; <a href="mailto:contact@domain.com">contact@domain.com</a>
                        &nbsp;&nbsp;
                        <!-- Phone -->
                        <i class="fa fa-phone color"></i> &nbsp; +1 (342)-(323)-4923*@
                    Cẩm Nang Du Lịch Hà Nội
                </div>
                <!-- Contact ends -->
                <!-- Login starts -->
                @*@{ Html.RenderAction("_LoginPartial", "Account");*@
                @Html.Partial("_LoginPartial", new HNHB.Models.LoginViewModel())

                <!-- Login ends -->
                <!-- Langauge starts -->
              
                <!-- Language ends -->
                <!-- Search section for responsive design -->
                <div class="tb-search pull-left">
                    <a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>
                    <div class="b-dropdown-block">
                        <form role="form">
                            <!-- Input Group -->
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-color" type="button">Tìm kiếm</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Search section ends -->
                <!-- Social media starts -->
             
                <!-- Social media ends -->

                <div class="clearfix"></div>
            </div>
        </div>

        <!-- Top bar ends -->
        <!-- Header two Starts -->
        <div class="header-2" style="border-bottom: 1px solid #F5F5F5;">

            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <!-- Logo section -->
                        <div class="logo">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="~/Content/img/home/HNHB.png" style="width:100%" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9">

                        <!-- Navigation starts.  -->
                        <div class="navy">
                            <ul>
                                <!-- Main menu -->
                                <li>
                                    <a href="#">Địa điểm</a>
                                    <!-- Submenu -->
                                    <ul>
                                        <li><a href="@Url.Action("Index", "Place")">Danh sách địa điểm</a></li>
                                        <li><a href="@Url.Action("PlacesMap", "Place")">Bản đồ</a></li>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li><a href="@Url.Action("Create", "Place")">Tạo địa điểm mới</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="#" onclick="doLogin()">Tạo địa điểm mới</a></li>
                                        }
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Index", "Asking")">Hỏi gì đáp nấy</a></li>
                                <li><a href="@Url.Action("Index", "Article")">Viết cho Hà Nội</a></li>
                                
                            </ul>
                        </div>
                        <!-- Navigation ends -->

                    </div>

                    <div class="col-md-1">

                        <!-- Search section -->
                        <div class="head-search pull-right">
                            <a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>
                            <div class="b-dropdown-block">
                                @using (Html.BeginForm("Index", "Place"))
                                {
                                    <!-- Input Group -->
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="layoutSearch">
                                        <span class="input-group-btn">
                                            <button class="btn btn-color" type="submit">Tìm kiếm</button>
                                        </span>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- Search section ends -->
                        <div class="clearfix"></div>

                    </div>

                </div>
            </div>
        </div>

        <!-- Header two ends -->
        <!-- Main content starts -->

        <div class="main-block">
            <div class="container">
                <div class="row">
                    @RenderSection("featured", required: false)
                    <section class="content-wrapper main-content clear-fix">
                        @RenderBody()
                    </section>
                </div>
            </div>
        </div>

        <!-- Main content ends -->
        <!-- Foot Starts -->

        <div class="foot">
            <!-- Container -->
            <!-- Container -->
            <div class="container">
                <!-- Footer Content -->
                <!-- Paragraph -->
                <p class="pull-left">Copyright &copy; 2014 - <a href="/Home/Index">Hà Nội Handbook</a></p>
                <ul class="list-inline pull-right">
                    <!-- List -->
                    <li><a href="/Home/Index">Trang chủ</a>
                    <li>
                    <li><a href="#">Liên Hệ</a></li>
                    <li><a href="/Home/About">Chúng tôi</a></li>
                    <li><a href="#">Tầm nhìn</a></li>
                </ul>
                <!-- Clearfix -->
                <div class="clearfix"></div>
            </div>
        </div>

        <!-- Foot Ends -->
    </div>

    <!-- Outer Ends -->
    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up bg-color"></i></a></span>

    <!-- Javascript for this page -->
    <!-- Custom JS. Type your JS code in custom.js file -->
    <script src="~/Content/themes/brave/js/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>