@model IEnumerable<HNHB.Models.Entities.Comment>
@using HNHB.HelperExtension

<h4><i class="fa fa-comments color"></i>&nbsp; @Model.Count() bình luận</h4>
<hr />

@if (Model.Count() == 0)
{
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Chưa có bình luận!</strong> Hãy trở thành người đầu tiên bình luận cho bài viết này. Cám ơn sự đóng góp của bạn.
    </div>
}
else
{
    foreach (var item in Model)
    {
        <div class="blog-comment-item" id="@item.Id">
            <div class="comment-author-image">
                @if (item.UserProfile.Avatar != null)
                {
                    <img alt="avatar" class="user" src="@Url.Content(item.UserProfile.Avatar)" style="max-width:60px;border-radius:5px" />
                }
                else
                {
                    <img alt="avatar" class="user" src="@Url.Content("~/Content/img/non-avatar.png")" style="max-width:60px;border-radius:5px" />
                }
            </div>
            <div class="comment-details">
                <!-- Name -->
                <h5>
                    @if (User.Identity.IsAuthenticated == true && User.IsInRole("Administrator"))
                    {
                        using (Ajax.BeginForm("RemoveComment", "Article", new AjaxOptions()
                            {
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "Post",
                                UpdateTargetId = "aranswer",
                                OnSuccess = "updateNumOfCmt"
                            }, new { @class = "form", role = "form" }))
                        {
                            <input type="hidden" name="cmtId" value="@item.Id" />
              <button class="close red" type="submit" onclick="return confirm('Bạn muốn xóa bình luận này chứ?')"  style="opacity:1" title="Xóa bình luận">×</button>
                        }
                    }
                    @item.UserProfile.Fullname <small>@item.CreateDate.ToTimeAgo()</small>
                </h5>
                <!-- Paragraph -->
                <p style="word-wrap: break-word;">@item.Content</p>
            </div>
        </div>
    }
}