@model HNHB.Models.Entities.Article
@using System.Text.RegularExpressions
@using HNHB.HelperExtension
@{
    ViewBag.Title = Model.Title;
}




<div class="blog-two" style="margin-top:10px">
    <div class="">
        <!--row-->
        <div class="col-md-8">

            <!-- Blog item starts -->
            <div class="blog-two-item">
                <!-- blog two Content -->
                <div class="blog-two-content">
                    <!-- Heading -->
                    <h3>@Model.Title</h3>
                    <!-- Blog meta -->
                    <div class="blog-meta" style="padding-left:0px">
                        <div class="agency-item">
                            <span class="agency-contact"><i class="fa fa-calendar circle-2 bg-red white"></i>&nbsp; @Model.CreateDate.ToTimeAgo()</span> &nbsp;
                            <span class="agency-contact"><i class="fa fa-user circle-2 bg-blue white"></i>&nbsp; @Model.UserProfile.Fullname</span> &nbsp;
                            <span class="agency-contact" id="numOfCmt"><i class="fa fa-comments circle-2 bg-green white"></i>&nbsp; @Model.Comments.Where(c => c.isActive == true).Count() Bình luận</span>  &nbsp;
                            <span class="agency-contact"><i class="fa fa-eye circle-2 bg-yellow white"></i>&nbsp; @Model.View Lượt xem</span>

                            @{
                                if (Request.IsAuthenticated)
                                {
                                    if (User.IsInRole("Administrator"))
                                    {
                                        <a class="btn btn-sm btn-success" href="@Url.Action("EditArticle", "Article", new { id = Model.Id })"
                                           style="float: right; color: white;">
                                            <i class="fa fa-pencil white"></i> Sửa
                                        </a>
                                        <a class="btn btn-danger btn-sm tooltip-info"
                                           href="@Url.Action("Deactive", "Article", new { id = Model.Id })"
                                           onclick="return confirm('Bạn có chắc muốn xóa bài viết này?')"
                                           data-rel="tooltip" data-placement="bottom" title="Xóa"
                                           style="float:right;color:white">
                                            <i class="fa fa-trash-o white"></i> Xóa
                                        </a>
                                    }
                                    else if (HttpContext.Current.User.Identity.Name.ToLower() == Model.UserProfile.UserName)
                                    {
                                        <a class="btn btn-sm btn-success" href="@Url.Action("EditArticle", "Article", new { id = Model.Id })"
                                           style="float:right;color:white;">
                                            <i class="fa fa-pencil white"></i> Sửa
                                        </a>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <!-- Paragraph -->
                    <p style="word-wrap: break-word;">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.Content))
                    </p>
                </div>
            </div>
            <!-- Blog item ends -->
            <!-- Social media sharing section -->
            @if (Model.AppliedTagArticles.Count > 0)
            {
                <div class="well">
                    <span class="bold">Tags: </span>  &nbsp; &nbsp;
                    <span class="brand-bg">
                        @foreach (var lsTag in Model.AppliedTagArticles)
                        {
                            <a href="@Url.Action("Index", "Article", new { tagId = lsTag.TagId })"><span class="label label-lblue">@lsTag.Tag.Name</span></a>
                        }
                    </span>
                </div>
            }
            <!-- Comments section -->
            <div id="aranswer" class="blog-comments">
                <!--Start block comment-->
                @Html.Partial("ArCommentPartial", Model.Comments.Where(c => c.isActive == true).OrderByDescending(x => x.CreateDate))
                <!--End block comment-->
            </div>

            <br>
            @if (User.Identity.IsAuthenticated)
            {
                        <!-- Comment Form -->
                <div class="well">
                    <!-- Heading -->
                    <h4><i class="fa fa-comments color"></i>&nbsp; Bình luận</h4><!-- Form -->
                    <hr>
                    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
                    @using (Ajax.BeginForm("ArticleComment", "Article", new AjaxOptions()
                            {
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "Post",
                                UpdateTargetId = "aranswer",
                                OnBegin = "validateInput",
                                OnComplete = "refreshInput",

                            }, new { @class = "form", role = "form" }))
                    {

                        <input id="txtArId" type="hidden" name="arId" value="@Model.Id" />
                        <div class="form-group">
        <textarea placeholder="Bình luận" rows="3" id="editor1" name="arContent" class="form-control"></textarea>
                     </div>
 
                                <!-- Button -->
                        <button id="btnSubmit" type="submit" class="btn btn-color">
                            <i class="icon-ok bigger-110"></i>
                            Bình luận
                        </button><text>&nbsp;</text>
                        <button type="reset" class="btn btn-white">Nhập lại</button>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    Hãy đăng nhập để bình luận về bài viết. Cám ơn sự đóng góp của bạn.
                </div>
            }
        </div>
        <!-- Sidebar column -->
        <div class="col-md-4">
            <!-- Take action sidebar block -->
            <div class="sidebar">
                <!-- Search Widget -->
                <div class="s-widget">
                    <!-- Heading -->
                    <h5><i class="fa fa-search color"></i>&nbsp; Tìm kiếm</h5>
                    <!-- Widgets Content -->
                    <div class="widget-content search">
                        @using (Html.BeginForm("Index", "Article"))
                        {
                            <div class="input-group">
                                <input class="form-control" type="text" id="txtSearch" name="key" value="@ViewBag.Key">
                                <span class="input-group-btn">
                                    <button class="btn btn-color" type="submit">Tìm kiếm</button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <div class="s-widget">
                    <!-- Heading -->
                    <h5><i class="fa fa-pencil color"></i>&nbsp; Bài viết</h5>
                    <!-- Widgets Content -->
                    <div class="widget-content tabs">
                        <a class="btn btn-sm  btn-lblue" style="width:100%" href="@Url.Action("CreateArticle", "Article")">Bài viết mới</a>
                        <div class="nav-tabs-two" style="margin-top:10px">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#popular" data-toggle="tab">Xem nhiều</a></li>
                                <li><a href="#recent" data-toggle="tab">Mới nhất</a></li>
                                <li><a href="#comments" data-toggle="tab">Bình luận mới</a></li>
                            </ul>
                            <!-- Tab content -->
                            <div class="tab-content">
                                <!-- Popular posts -->
                                <div class="tab-pane fade in active" id="popular">
                                    <ul>
                                        @foreach (var item in ViewBag.lstByView)
                                        {
                                            string urlTitle = item.Title;
                                            urlTitle = urlTitle.ConvertToUnSign();
                                            if (urlTitle.Length > 150)
                                            {
                                                urlTitle = urlTitle.Substring(0, 150);
                                            }
                                            <li>
                                                <a href="@Url.Action("ArticleDetails", "Article", new { id = item.Id, title = urlTitle })">
                                                    <!-- Item title -->
                                                    @{
                                            string tit = item.Title;
                                            if (tit.Length > 43)
                                            {
                                                <strong title="@tit">@tit.Substring(0, 40)<text>...</text></strong>
                                            }
                                            else
                                            {
                                                <strong>@tit</strong>
                                            }
                                                    }
                                                    <div class="agency-item row">
                                                        @{
                                            DateTime date = item.CreateDate;
                                            <div class="col-md-6">
                                                <span class="agency-contact"><i class="fa fa-calendar circle-2 bg-red white"></i>&nbsp; @date.ToTimeAgo()</span>
                                            </div>
                                                            <div class="col-md-6">
                                                                <span class="agency-contact"><i class="fa fa-eye circle-2 bg-yellow white"></i>&nbsp; @item.View Lượt xem</span>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <!-- Recent posts -->
                                <div class="tab-pane fade" id="recent">
                                    <ul>
                                        @foreach (var item in ViewBag.lstByDate)
                                        {
                                            string urlTitle = item.Title;
                                            urlTitle = urlTitle.ConvertToUnSign();
                                            if (urlTitle.Length > 150)
                                            {
                                                urlTitle = urlTitle.Substring(0, 150);
                                            }
                                            <li>
                                                <a href="@Url.Action("ArticleDetails", "Article", new { id = item.Id, title = urlTitle })">
                                                    <!-- Item title -->
                                                    @{
                                            string tit = item.Title;
                                            if (tit.Length > 43)
                                            {
                                                <strong title="@tit">@tit.Substring(0, 40)<text>...</text></strong>
                                            }
                                            else
                                            {
                                                <strong>@tit</strong>
                                            }
                                                    }
                                                    <div class="agency-item row">
                                                        @{
                                            DateTime date = item.CreateDate;
                                            <div class="col-md-6">
                                                <span class="agency-contact"><i class="fa fa-calendar circle-2 bg-red white"></i>&nbsp; @date.ToTimeAgo() &nbsp;</span>
                                            </div>
                                                            <div class="col-md-6">
                                                                <span class="agency-contact"><i class="fa fa-comments circle-2 bg-green white"></i>&nbsp; @item.Comments.Count Bình luận</span>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <!-- Recent comments -->
                                <div class="tab-pane fade" id="comments">
                                    <ul>
                                        @foreach (var item in ViewBag.lstByComment)
                                        {
                                            string urlTitle = item.Article.Title;
                                            urlTitle = urlTitle.ConvertToUnSign();
                                            if (urlTitle.Length > 150)
                                            {
                                                urlTitle = urlTitle.Substring(0, 150);
                                            }
                                            <li>
                                                <a href="@Url.Action("ArticleDetails", "Article", new { id = item.ArticleId, title = urlTitle })">
                                                    @{
                                            string text = item.Content;
                                            Regex reg = new Regex(@"</?img((\s+\w+(\s*=\s*(?:"".*?""|\'.*?\'|[^\'"">\s]+))?)+\s*|\s*)/?>");
                                            string result = reg.Replace(text, string.Empty);
                                            <span style="word-wrap:break-word;">@Html.Raw(HttpUtility.HtmlDecode(Html.GetSummary(result, 70) + "..."))</span>
                                                    }
                                                    <div class="agency-item">
                                                        <span class="agency-contact">
                                                            <i class="fa fa-pencil  circle-2 bg-blue white"></i>
                                                        </span>
                                                        @{
                                            string tit = item.Article.Title;
                                            if (tit.Length > 43)
                                            {
                                                <strong title="@tit">@tit.Substring(0, 40)<text>...</text></strong>
                                            }
                                            else
                                            {
                                                <strong>@tit</strong>
                                            }
                                                        }
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s-widget">
                    <!-- Heading -->
                    <h5><i class="fa fa-tags color"></i>&nbsp; Tags</h5>
                    <!-- Widgets Content -->
                    <div class="widget-content">
                        @foreach (var item in ViewBag.allTags)
                        {
                            <a href="@Url.Action("Index", "Article", new { tagId = item.Id })"><span class="label label-lblue">@item.Name</span></a>
                        }
                    </div>
                </div>
                <!-- Social media widget -->
                <div class="s-widget">
                    <h5><i class="fa fa-share color"></i>&nbsp; Chia sẻ</h5>
                    <!-- Widgets Content -->
                    <div class="widget-content brand-bg">
                        <!-- Social Media Icons -->
                        <div class="fb-like">Like</div>
                        <a href="#" class="twitter"><i class="fa fa-twitter square-3 rounded-1"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus square-3 rounded-1"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin square-3 rounded-1"></i></a>
                        <a href="#" class="pinterest"><i class="fa fa-pinterest square-3 rounded-1"></i></a>
                        <a href="#" class="dropbox"><i class="fa fa-dropbox square-3 rounded-1"></i></a>
                        <a href="#" class="foursquare"><i class="fa fa-foursquare square-3 rounded-1"></i></a>
                        <a href="#" class="flickr"><i class="fa fa-flickr square-3 rounded-1"></i></a>
                        <a href="#" class="github"><i class="fa fa-github square-3 rounded-1"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram square-3 rounded-1"></i></a>
                        <a href="#" class="skype"><i class="fa fa-skype square-3 rounded-1"></i></a>
                        <a href="#" class="tumblr"><i class="fa fa-tumblr square-3 rounded-1"></i></a>
                        <a href="#" class="dribbble"><i class="fa fa-dribbble square-3 rounded-1"></i></a>
                        <a href="#" class="youtube"><i class="fa fa-youtube square-3 rounded-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.4&appId=1499264037063357";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
@if (User.Identity.IsAuthenticated)
{
    <script>
        $(document).ready(function () {
            var txtInput = $('editor1');
            var btnComment = $('#btnSubmit');
            var txtContent = document.getElementById('editor1').value;

            $('editor1').keyup(function () {
                if (txtContent.length > 10) {
                    $('#btnSubmit').addClass("disabled");
                }
                else {
                    $('#btnSubmit').removeClass("disabled");
                }
            })
        });
    </script>
   
    <script>
        var num = @Html.Raw(Model.Comments.Where(c => c.isActive == true).Count());
        function validateInput() {
            var txtContent = document.getElementById('editor1').value;
            if (txtContent.length < 10) {
                //$('#btnSubmit').addClass("disabled");
                $.amaran({
                    content: {
                        bgcolor: '#ED5441',
                        color: '#fff',
                        message: '<strong>Xin lỗi!</strong><p style="font-size:12px">Nội dung bình luận quá ngắn</p>'
                    },
                    theme: 'colorful',
                    position: 'top right',
                });
                return false;
            }
            else {
                return true;
            }
        }


        function refreshInput() {
            $('#editor1').val('');
            num += 1;
            var html = '<i class="fa fa-comments circle-2 bg-green white"></i>&nbsp; ' + num + ' Bình luận';
            $('#numOfCmt').html(html);
        }

        function updateNumOfCmt() {
            num -= 1;
            var html = '<i class="fa fa-comments circle-2 bg-green white"></i>&nbsp; '+ num +' Bình luận';
            $('#numOfCmt').html(html);
        }
    </script>
}